/.kiro
/.pytest_cache
/Turn videos to Movie scripts..ipynb
/turn_moviescript_to_csv.ipynb
/upload_test_videos.py
/venv-video-pipeline
/.hypothesis/
/evaluation/__pycache__
/tests/__pycache__
/evaluation/adapters/__pycache__
/.specify
/.vscode
/.github
/*.pyc
/*.json
/*.csv
/__pycache__
/gemini-1.5_evaluation_results
/manual_tests_results__pycache__/
*.pyc
